.avatar {
    border: 1px solid #3d6cb0;
    width: 77.88px;
    height: 77.88px;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    background: #3d6cb0; 
    background-clip: content-box;
    padding: 5px;
    position: relative;
    
    &_big {
        background: #545454 url(http://lorempixel.com/300/300/cats);
        background-size: cover;
        background-repeat: no-repeat;
        background-clip: content-box;
        width: 203px;
        height: 203px;
        padding: 12px;
        margin: 0 0 20px 0;
    }
    
    &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &__icon {
        color: #fff;
        font-size: 35px;
    }
}







