h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

 h2 {
     font-weight: 400;   
     font-size: 25px;
    }

ul {
    margin: 0;
    padding: 0;
}

//p {
//    $font-size: 15px;
//    font-size: $font-size;
//    
//    margin: #{$font-size/25px}em 0;
//}

