.category {
    
//    &:after {
//        content: '';
//        position: relative;
//        display: block;
//        border-bottom: 5px solid #3d6cb0;
//        top: -40px;
//    }
    
    &__decoration {
        background-color: #3d6cb0;
        display: inline-block;
        width: 31%;
        height: 5px;
        position: relative;
        top: -11px;        
    }
}