.column {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    box-sizing: border-box;
    
    &_left {
        width: 40%;
        margin-right: 7.575757575757576%;
    }
    
    &_right {
        width: 52%;
    }
}

