.description {
    &__list {
        text-align: justify;
        padding: 0;
    }
    
    &__list:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
    
    &__column {
        width: 45%;
        display: inline-block;
        
        & + & {
            margin-left: 10%;
        }
    }
}