.header {
    margin: 0;
    position: relative;
    overflow: hidden;

    &__user-picture {
        margin: 0 0 8% 0; //0 0 4.832201792746865% 0;
    }

    &__title {
        color: $color-black;
        font-weight: 400;
        margin: 0;
        padding: 0;
        text-transform: uppercase;

        $font-size: 52px;
        font-size: $font-size;
        line-height: #{55px/$font-size};
    }

    &__title-bigger {
        color: $color-black;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 58px;
    }

    &__subtitle {
        text-transform: uppercase;
        color: $color-black;
        font-weight: 600;
        $font-size: 25px;
        font-size: $font-size;
        line-height: #{40px/$font-size};
    }
}




