.intro {
    
    &__title {
        text-transform: uppercase;
        color: #000;
        font-weight: normal;
        
        $font-size: 53px;
        font-size: $font-size;
        margin: 0;
        line-height: #{55px/$font-size};
        
        &_bigger {
            font-weight: 600;
            $font-size: 62px;
            font-size: $font-size;
            margin: 0;
        }
    }
    
    &__subtitle {
        text-transform: uppercase;
        color: #000;
        font-weight: 600;
        $font-size: 25px;
        font-size: $font-size;
        margin: 0 0 #{20px/$font-size}em 0;
        line-height: #{40px/$font-size};
    }
}



