.level {
    display: inline-block;
    background-color: #e6e6e6;
    box-sizing: border-box;
    position: relative;
    background-color: #e6e6e6;
    
    
    &__skills {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin: 0 5px 0 0;
        
        &_complete {
            background-color: #3d6cb0;
        }
    }
    
    &__experience {
        width: 25px;
        height: 18px;
        margin: 0 -2px;
        
        &_complete {
            background-color: #3d6cb0;
        }
    }
}



