.list {

    &__title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
    }

    &__title_black {
        color: $black;
    }

    &__title_blue {
        color: $blue;
    }

    &__subtitle {
        text-transform: uppercase;
        font-size: 20px;
        color: $black;
    }
}
