.list {
    
    &__title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
    }
    
    &__title_black {
        color: #000;
    }
    
    &__title_blue {
        color: #3d6cb0;
    }
    
    &__subtitle {
        text-transform: uppercase;
        font-size: 20px;
        color: #000;
    }
}