.page {
    max-width: 1122px;
    min-width: 960px;
    margin: 0 auto;
    padding: 1% 0; //6.68% original;
    font-family: 'MyriadProRegular', sans-serif;
    color: $black;

    $font-size: 15px;
    font-size: $font-size;
    line-height: #{20px/$font-size};

    &__header {
        width: 36.89%;
        float: left;
        text-align: center;
        margin: 46px 0 44px; // 0.5scale
    }

    &__left {
        width: 36.89%;
        //padding: 0 3.3792155714253536%; original
        box-sizing: border-box;
        float: left;
    }

    &__right {
        float: right;
        padding: 25px 0 0;//padding: 0 2.2558426324179623%; original
        width: 56.59%;

        & .section {
            padding: 0 0 60px;
        }
    }
}
