.progress {
    
    &_centered {
        text-align: center;
    }
    
     &__title {
        text-transform: uppercase;
        display: block;
        font-weight: 400;
        
        $font-size: 25px;
        font-size: $font-size;
        margin: 0 0 #{14px/$font-size}em;
    }
    
    &__items {
        text-align: justify;
        height: 18px;
        //white-space: nowrap;
        
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }
    
    &__item {
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        background-color: #3d6cb0;
        width: 18px;
        height: 18px;
        border-radius: 50%;
    }
    
    &__item_active ~ &__item {
        background-color: #e6e6e6;   
    }
    
    &__bar {
        background: #e6e6e6;
        height: 18px;
        
        &-inner {
            height: 100%
        }
            
        &-inner_active {
            position: relative;
            background: #3d6cb0;
        }    
    }
    
    & + & {
        margin: 25px 0;
    }
}



