.progress-grid {
    //text-align: justify;
    margin: 0;
    padding: 0;

     &__item {
        width: 48%;
        display: inline-block;


         &:nth-child(2n) {
             margin-left: 2%;
         }
    }

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}
