.progress-grid {
    text-align: justify;

     &__item {
        width: 44%;
        display: inline-block;

         &.faux {
             width: 100%;
    height: 0;
         }

         & + & {
            margin: 12px 0;
        }
    }

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}
