.section {
    padding: 0 0 36px;

    &__header {
        margin: 0 0 8px -14px; //0 0 20px -14px; original
        position: relative;
        overflow: hidden;

        &_top {
            &:after {
            display: none;
            }
        }

         &::after {
            content: '';
            width: 100%;
            height: 6px;
            background: $blue;
            position: absolute;
            top: calc(50% - 3px);
            z-index: -1;
            left: 88px;
        }
    }

     &__title {
        text-transform: uppercase;
        color: $blue;
        display: inline;
        vertical-align: middle;
        font-weight: 600;
        font-size: 36px; //41px original;
        padding: 0 2.95% 0 2%;
        background: #fff;

    }

    &__description {
        p {
            margin: 0;

            & + & {
                margin-top: 1em;
            }
        }
    }

     &__avatar {
        border: 1px solid $blue;
        width: 78px;
        height: 78px;
        border-radius: 50%;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        background: $blue;
        background-clip: content-box;
        padding: 5px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }

    &__icon {
        color: #fff;
        font-size: 45px;
        transform: translate(0%, 20%);
    }
}
