.steps {
    padding: 0 0 0 9.449711783790594%;
    position: relative;
    
     &::before {
        content:'';
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #333;
        position: absolute;
        top: 8px;
        left: 3.7798847135162372%;
    }
    
    & + & {
        margin-top: 22px;
    }
    
    &__header {
        display: inline-block;
        font-size: 25px;
        position: relative;
    }
    
    &__title {
        color: #3d6cb0;
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        
        &_smaller {
            font-size: 25px;
            color: #333;
        }
    }
    
    &__date-from:before {
        content: '//';
        display: inline-block;
        padding: 0 10px 0 15px;
    }
    
    &__what {
        font-weight: 400;
        text-transform: uppercase;
    }
    
    &__date-to {
        display: inline-block;
    }
    
    &__date-from {
        display: inline-block;
    }
}