.table {
     display: table;
     border-spacing: 10px;


    &__row {
        display: table-row;
        line-height: 2;
    }

    &__cell {
        display: table-cell;
        padding: 20px 20px 20px 0;
    }

    &__title {
        font-size: 20px;
        color: #3d6cb0;
        text-transform: uppercase;
        font-weight: 600;
    }

    &__desc {
        font-size: 20px;
        color: #000;
    }
}