.user-picture {
    border: 1px solid $color-blue;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    background: $color-blue;
    background-clip: content-box;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    width: 224px; //203px; original
    height: 224px; // 203px; original
    padding: 2.955665024630542%;

    &__img {
        width: 100%;
        border-radius: 50%;
    }
}
